.empty-state, ul:empty {
    display: none;
}

ul:empty + .empty-state {
    display:block;
}

/*increase placeholder legibility*/

::-webkit-input-placeholder{
    color: #444;
    font-style: italic;
}
::-moz-placeholder {
    color: #444;
    font-style: italic;
}
:-moz-placeholder {
    color: #444;
    font-style: italic;
}
:-ms-input-placeholder  {
    color: #444;
    font-style: italic;
}

/**visually hidden class**/

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
}

#heading-input {
    font-size: 1.5em;
}