body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.empty-state, ul:empty {
    display: none;
}

ul:empty + .empty-state {
    display:block;
}

/*increase placeholder legibility*/

::-webkit-input-placeholder{
    color: #444;
    font-style: italic;
}
::-moz-placeholder {
    color: #444;
    font-style: italic;
}
:-moz-placeholder {
    color: #444;
    font-style: italic;
}
:-ms-input-placeholder  {
    color: #444;
    font-style: italic;
}

/**visually hidden class**/

/**
footer begin
**/
main {
    padding-bottom: 20%;
}
footer {
    padding: 10% 25%;
    background: #595959;
    color: #eee;
  }
  footer p, footer a, footer a:visited{
    color: #eee;
    text-align: center;
  }
  footer a:hover {
    text-shadow: 1px 0px 5px white, 0px 1px 0px #000;
  }
  .site-title {
    display: block;
  }
  @media only screen and (min-width: 900px) {
    main {
        padding-bottom: 5%;
    }
    img.icon {
      margin-bottom: -15px;
  }
  .site-title {
    display: inline;
  }
  }
  /**
  footer end
  **/
.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
}
#heading-input {
    border: transparent;
    font-size: 1.5em;
    min-width: 400px;
    border-bottom: 2px solid black;
}
h1 {
    padding: 0 2px;
    color: #444;
    font-weight: 400;
}
form, h1{
    min-height: 34px;
    margin: 20px 0;
}
/**hide outline when focussing on heading**/
[tabindex="-1"]:focus {
    outline: 2px solid blue;
}
button {
    border-radius: 2px;
    padding: 4px 7px;
    font-size: 18px;
    margin-left: 7px;
}
button:not(.trash) {
    color: #fff;
    background: #515252;
    border: 1px solid #515252;
}
button:not(.trash):disabled, input[aria-invalid] + button:not(.trash){
    color: #fff;
    background: #515252;
    border: 1px solid #515252;  
}
input[aria-invalid=false] + button:not(.trash) {
    color: #fff;
    background: #004794;
    border: 1px solid #004794;
}
button.trash {
    color: #fff;
    background: #004794;
    border: 1px solid #004794;
}
.to-do-title {
    display: none;
}
.visible {
    display: block !important;
}
label {
    font-size: 18px;
    padding-left: 7px;
    padding-right: 7px;
}
:checked + label {
    text-decoration: line-through;
}
input[type="checkbox"], input:visited {
    background-color: #fff;
    height: 18px;
    width: 18px;
    appearance: none;
    border: 2px solid #000;
    vertical-align: text-top;
}
input[type="checkbox"]:focus-visible, input[type="checkbox"]:focus, :checked {
    appearance: auto;
}
form.add-item-form {
    padding-left: 44px;
}
input[type="text"] {
    background-color: #fff;
    border: 2px solid #000;
    font-size: 18px;
    line-height: 1.25;
}